{% extends "base.html"%}
{% load webdesign%}
{% load typographus%}
{% load pytils_dt%}
{% block title %}
Новости
{% endblock %}
{% block style %}
.news {
margin-top: 5px;

}
div .news-header {
padding: 5px;
background: #ddd;
border-bottom: 1px solid #ccc;
}
.news-title {
 
}
.news-date {

}
.news-body {
}
{% endblock %}
{% block content_title %}
Новости
{% endblock %}
{% block content %}
    {% for n in news %}
    <div class="news">
        <div class="news-header">
            <span class="float-right news-date">
                {{n.date_add|ru_strftime:"%d %B %Y"}}
            </span>
            <span class="news-title">
                <h3>{{ n.title }}</h3>
            </span>
        </div>
        <div>
           {{n.body_html|typographus|safe}}
        </div>
    </div>
    
    {% endfor%}

{% endblock%}
