{% extends "base.html"%}
{% load webdesign%}
{% load typographus%}
{% block title %}
{{ section.name }}
{% endblock %}

{% block js %}
    //$("tr:nth-child(row-a)").addClass("row-a");
{% endblock %}
{% block content_title %}
{{ section.name }}
{% endblock %}
{% block sidebar_price_title %}
<h5>{{ section.name }}</h5>
{%endblock%}
{% block sidebar_price %}
<ul>
{% for manuf in manufs %}
<li><a href="#{{manuf.slug}}">{{manuf.name}}</a></li>
{% endfor %}
</ul>
{%endblock%}
{% block content %}
{{ section.body_html|safe }}
<table>
    {% for manuf in manufs %}
    <tr>
        <th colspan="2"><a name="{{manuf.slug}}">{{manuf.name}}</a></th>
    </tr>
    {% for product in manuf.product_set.all %}
    <tr>
        <td>
            <p><img src="{{ product.image_ext_url_thumb }}" alt="{{ product.name }}"/></p>
        </td>
        <td>
            <h3>{{ product.name }}</h3>
            <p>{{ product.desc }}</p>
            <h5 class="align-right">{{ product.cell }} {{ product.currency.display }}</h5>
        </td>
    </tr>
    {% endfor %}
    {% endfor%}
</table>

{% endblock%}
