{% extends "base.html"%}
{% load webdesign%}
{% load typographus%}
{% block content_title %}
Усилители
{% endblock %}
{% block content %}
<table>
    <tr>
        <th colspan="2">WHARFEDALE PRO</th>
    </tr>
    <tr>
        <td><img src="http://s49.radikal.ru/i125/0902/11/111252efd685t.jpg"/></td>
        <td><h3>S1000</h3>
            <p>Усилитель, 2 x 200 Вт / 8 Ом, 2 x 330 Вт / 4 Ом, 2U</p>
            <h5 class="align-right">18473 руб.</h5>
        </td>
    </tr>
    <tr>
        <td><img src="http://s44.radikal.ru/i104/0902/88/5934b221098et.jpg"/></td>
        <td><h3>S1000</h3>
            <p>Усилитель, 2 x 200 Вт / 8 Ом, 2 x 330 Вт / 4 Ом, 2U</p>
            <h5 class="align-right">18473 руб.</h5>
        </td>
    </tr>
</table>

{% endblock%}
