{% extends "base.html"%}
{% load webdesign%}
{% load typographus%}
{% block title %}
{{ section.name }}
{% endblock %}

{% block js %}
    //$("tr:nth-child(row-a)").addClass("row-a");
{% endblock %}
{% block content_title %}
{{ section.name }}
{% endblock %}
{% comment %}
{% block sidebar_price_title %}
<h5>{{ section.name }}</h5>
{%endblock%}
{% block sidebar_price %}
<ul>
{% for manuf in manufs %}
<li><a href="#{{manuf.slug}}">{{manuf.name}}</a></li>
{% endfor %}
</ul>
{%endblock%}
{% endcomment %}
{% block content %}
{{ section.body_html|safe }}

<table>
        {% for p in products %}
        {% comment %}
        {% if manufs %}
        <tr>
            {% if product.0 %}
            <th colspan="2"><a name="{{product.0.slug}}">{{product.0.name}}</a></th>
            {% else %}
                {% if product.1 %}
                    <th colspan="2"><a name="other">Разное</a></th>
                {% endif %}
            {% endif %}
        </tr>
        {%endif%}
        {% endcomment %}


            <tr>
                <td>
                {% if p.image_ext_url_thumb %}
                    <p><img src="{{ p.image_ext_url_thumb }}" alt="{{ p.manufacturer|default:"" }}{{ p.name }}" width="200"/></p>
                {% endif %}
                </td>
                <td>
                    <h3>{{ p.manufacturer|default:"" }} {{ p.name }}</h3>
                    <p>{{ p.desc_html|safe }}</p>
                    {% if p.cell %}
                        <h5 class="align-right">{{ p.cell }} {{ p.currency.display }}</h5>
                    {% endif %}
                </td>
            </tr>
         {% endfor %}
</table>
{{ section.footer_html|safe }}

{% endblock%}
